# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.nuxt/

# Logs
logs/
*.log

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
