.doc {
  @apply text-lg;
}

.doc p {
  @apply py-3;
}

.doc li {
  @apply text-lg
}

.doc ol {
  @apply list-decimal p-5
}

.doc blockquote {
  @apply italic bg-base-200 p-5 rounded-md my-3
}

.doc h1 {
  @apply text-3xl pt-5;
  font-family: 'Inter';
}

.doc h2 {
  @apply text-2xl pt-5;
  font-family: 'Inter';
}

.doc h3 {
  @apply text-xl pt-5;
  font-family: 'Inter';
}

.doc h4 {
  @apply text-lg pt-5;
  font-family: 'Inter';
}

.doc h5 {
  @apply text-base pt-5;
  font-family: 'Inter';
}

.doc h6 {
  @apply text-sm pt-5;
  font-family: 'Inter';
}

.doc code{
  font-size: 1rem; /** Make it the same size as the body text  */
}

.doc aside{
  @apply bg-base-200;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.25rem 0rem;
  border-left: 1rem solid rgb(100,118,138); /** Accent border  */
}

.doc table{
  margin: 1rem 0rem;
  border-left: 1rem solid rgb(100,118,138); /** Accent border  */
}
