@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'roboto';
}

:root {
  --rounded-btn: 0.2rem;
}

.header {
  font-family: 'inter';
}

.btn {
  font-family: 'inter';
}
